<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- Redirect =============== -->
    <script type="text/javascript">
      var g_url = 'https://digitalgov.gov/';
      var current_url = window.location;
      if ( current_url.href.indexOf(g_url) >= 0 ) {
        var path = current_url.href.replace(g_url, "");
        window.location.href = 'https://www.digitalgov.gov/' + path;
      }
    </script>

  </head>

  <body>
    {{ site.title | escape }} has moved to <a href="{{ site.new_url | escape }}" title="{{ site.title | escape }}">{{ site.new_url | escape }}</a>.
  </body>

</html>
